@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.App {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: var(--main-background-color);
  color: var(--main-text-color);

  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.InputWithLabel{
  label{
    color: var(--main-text-color);
    font-size: 25px;
  }

  input{
    height: 40px;
    padding: 1px 2px;
    
  }
}